html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    background-image: linear-gradient(#da99b5, #8d6798);
}
.mid{
    width: 960px;
    margin:auto;
}
.menubar{
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 10px #999;
    position: fixed;
    top:0px;
}
.menubar2{
    width: 100%;
    height: 20px;
    background: #da99b5;
    box-shadow: 0 0 10px #999;
    position: relative;
    top:350px;
}

.logo{
    margin-top: -20px;
    margin-left: 10px;
}
.menubar .logo {
    float: left;
}
.menubar ul.menu {
    list-style: none;
    float: right;
}
.menubar ul.menu li {
    float: left;
    margin-right: 20px;
}
.menubar ul.menu li a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    transition: all 0.3s ease;
}.menubar ul.menu li a:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 0px;
}
h1{
    text-align: center;
    color:black;
}
h2{
    text-align: center;
    color:white;
}
h4{
    color:white;
}
img{
    display:block;
    margin: auto;
}
.members_area1{
    display:inline;
    float:left;
    margin:15px;
    border:5px solid #da99b5;
    background-color: #da99b5;
    border-style: outset;
    width:200px;
    height:300px;
    margin-bottom: 25px;
}
.members_area1:hover .image{
    opacity: 0.1;
}
.members_area1:hover .hidden{
    opacity: 1;
}
.members_area2{
    display:inline;
    float:left;
    margin:15px;
    border:5px solid #da99b5;
    background-color: #da99b5;
    border-style: outset;
    width:200px;
    height:300px;
    margin-bottom: 25px;
}
.members_area2:hover .image{
    opacity: 0.1;
}
.members_area2:hover .hidden{
    opacity: 1;
}

.members_area3{
    display:inline;
    float:left;
    margin:15px;
    border:5px solid #da99b5;
    background-color: #da99b5;
    border-style: outset;
    width:200px;
    height:300px;
    margin-bottom: 25px;
}
.members_area3:hover .image{
    opacity: 0.1;
}
.members_area3:hover .hidden{
    opacity: 1;
}

.members_area4{
    display:inline;
    float:left;
    margin:15px;
    border:5px solid #da99b5;
    background-color: #da99b5;
    border-style: outset;
    width:200px;
    height:300px;
    margin-bottom: 25px;
}
.members_area4:hover .image{
    opacity: 0.1;
}
.members_area4:hover .hidden{
    opacity: 1;
}
.image{
    position:relative;
    height:180px;
    width:180px;
    margin:5px;
    border-radius: 50px;
    transition: .5s ease;
    
}
iframe{
    display:block;
    margin:auto;
}
.header{
    background-image: url("img/background.jpg");
    height: 800px;
    width: 100%;
}
.big{
    font-size:80px;
    color:white;
    margin-bottom:10px;
}
.medium{
    font-size:40px;
    color:white;
    margin-bottom:100px;
    
}
.blank{
    position:relative;
    left:410px;
    font-size:30px;
    text-decoration: none;
    color:white;
    padding:10px;
    border:1px solid white;
    border-radius: 50px;
    transition: ease-out 0.5s;
}
.blank:hover{
    background-color: white;
    color:black;
}
p{
    text-align: center;
    color:white;
}
.fire{
    width:200px;
    height:200px;
    padding-bottom: 25px;
}
.fire:hover{
    animation: fire 2s infinite; 
}
@keyframes fire{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(20px);
    }
    75%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}
li{
    color:white;
}
hr{
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
}
.equit{
    display:inline;
    margin-top:25px;
    margin-left:2.5px;
    margin-bottom:25px;
    height:150px;
    width:150px;
    border-radius: 100px;
}
.equit:hover{
    border: 1px solid black;
    transform: scale(1.75);
}
.ex{
    width:300px;
    padding:10px;
    margin:auto;
    margin-bottom: 25px;
    border: 5px solid #8d6798;
    border-radius: 50px;
    background-color: #8d6798;
}
.ex:hover{
    transform: scale(1.05);
}
.result{
    width:400px;
    height:300px;
    display:inline;
    margin-left:50px;
}
.hidden{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
}
.github{
    width:150px;
    height:150px;
    border-radius: 100%;
    transition: .5s ease;
}
.github:hover{
    background-color:#da99b5;
    transition: .5s ease;
    border-radius: 100%;
}
.linkgit{
    width:150px;
    height:150px;
    margin:auto;

}
.linkcredit{
    position: absolute;
}